@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NAMU 1930";
  src: url(https://d2bj1fdxpytfk0.cloudfront.net/fonts/NAMU-1930.otf) format("opentype");
}

@layer base {
  html {
    font-family: "NAMU 1930", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

html, body {
  @apply bg-tg-bg text-tg-text;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

button {
  @apply bg-tg-bg text-tg-text;
}

button, a, image, div {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

hr {
  @apply border-tg-hint;
}

.m-btn {
  @apply w-8 h-8 rounded-lg bg-tg-button text-tg-button-text;
}

.m-btn-big {
  @apply h-8 rounded-lg shadow-lg bg-tg-button text-tg-button-text;
}

.m-checkbox {
  @apply form-checkbox rounded-lg focus:ring-0 focus:ring-offset-0 text-tg-button w-8 h-8 border-0 shadow transition duration-200 cursor-pointer;
}

.m-radio {
  @apply form-radio rounded-lg focus:ring-0 focus:ring-offset-0 text-tg-button w-8 h-8 border-0 shadow transition duration-200 cursor-pointer;
}

.m-input {
  @apply form-input shadow-lg rounded-lg bg-tg-bg text-tg-text placeholder-tg-text focus:ring-0 border-0 border-b border-b-tg-button focus:border-b-tg-text duration-200;
  transition-property: border-bottom-color;
}

.m-select {
  @apply form-select rounded-lg bg-tg-bg text-tg-text focus:ring-0 border-0 border-b border-b-tg-button focus:border-b-tg-text duration-200 shadow-lg;
  transition-property: border-bottom-color;
}

.m-textarea {
  @apply form-textarea rounded-lg bg-tg-bg text-tg-text placeholder-tg-text focus:ring-0 border-0 shadow-lg resize-none border-b border-b-tg-button focus:border-b-tg-text duration-200;
  transition-property: border-bottom-color;
}
